html{
	scroll-behavior: smooth!important;
	overflow-y:hidden;
	max-height:100%;
	max-width:100vw;
	overflow-x:hidden;
	min-height: -webkit-fill-available;
	height:100%;
}

body{
	width:100%;
	max-height:100%;
	padding:0px;
	margin:0px;
	overflow:hidden;
	font-family:'Poppins';
	box-sizing: border-box;
	max-width:100vw;
	overflow-x:hidden;
}

.content-container{
	height:100%;
	max-width:100vw;
	overflow-x:hidden;
	box-sizing: border-box;
}

.row{
	width:100%;
	height:100%;
	position:absolute;
	padding:0px;
	box-sizing:border-box;
	max-height:100%;
	overflow-y:hidden!important;
}

h1{
	margin:auto;
	color:black;
	font-size:40px;
}

.fixed-bottom{
	position:fixed;
	background:url('img/3/bottom.png');
	z-index:1000000000;
	width:100%;
	height:120px;
	bottom:0;
	background-position:center;
	background-size:cover;
	background-repeat:no-repeat;
	box-sizing:border-box;
	pointer-events: none;

}


.decade{
	padding:20px;
	height:60px;
	margin:0px;
	position:sticky;
	position:-webkit-sticky;
	border-radius:0px 0px 30px 30px;
	top:100%;
	transform:translateY(-110px);
	display:flex;
	z-index:1000000;
	background:url('img/3/papercard.jpg');
		box-shadow: -1px -1px 10px rgba(0,0,0,0.5);
}



.decade h1{
	mix-blend-mode: darken;
	opacity:0.7;

}
.decade-inner{
	margin:auto;
	width:auto;


	background-size:cover;
	padding:0px 0px 0px 0px;
	height:100%;
	display:flex;

}

.nav-button a{
	color:darkgoldenrod;
	text-decoration:none;
	font-size:30px;
	height:100%;
	width:100%;
	text-align:center;
	line-height: 42px;
	display:inline-block;
}

.nav-button{
	width:40px;
	height:40px;
	margin:auto 10px;
	cursor:pointer;
	border-radius:100%;
	transition:0.2s;
}

.nav-button:hover{
	background:rgba(30,30,30,0.2);
	transition:0.2s;
	cursor:pointer;
}

.spacer{
	height:300px;
	position:relative;
	display:flex;
	background:slategrey;
	background-image:url('img/3/tile.png');
	background-attachment: fixed;
	background-repeat: repeat;
	background-size:30%;
}

.spacer-bottom{
	z-index:99999999;
	background:black;
	height:200px;
	background-image:url('img/3/cleanParchment.jpg');
}

.spacer h1{
	font-size:60px;
	margin:auto;
	background-image:url('img/3/goldframe.png');
	background-size:auto 220px;
	background-position:center;
	background-repeat:no-repeat;
	height:300px;
	line-height:300px;
	width:100%;
	text-align:center;
	z-index:1!important;
	padding:10px 10px 10px 10px;
}



.events-container{
	display:flex;
	margin-bottom:100px;
	margin-top:-100px;
	padding:0px;
}

.events-inner{
	margin:auto;
}




.event{
	width:80vw;
	max-width:1920px;
	padding:10px 0px;
	margin:20px 0px;
	font-size:20px;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	transition:1s ease-in-out;
}


.image{
	padding:0px;
	max-width:400px;
	min-width:250px;
	margin-top:10px;
	box-sizing:border-box;
	transition:1s cubic-bezier(.17,1.49,.24,1);

}

.image:hover{
	transform:scale(1.05);
	transition:1s cubic-bezier(.17,1.49,.24,1);
}

.image img{
	width:100%;
}

.text{
	border-radius:7px;
	font-size:16px;
	max-width:500px;
	background-color:white;
	color:darkslategray;
	padding:0px;
	background:none;
	transform: rotate(calc(2deg + 3deg * (var(--random) - 0.5)));
	transition:2s cubic-bezier(0,.88,.11,.99);
}

.text:hover{
	transform: rotate(calc(2deg - 3deg * (var(--random) + 0.5))) scale(1.05);
	transition:0.4s cubic-bezier(.79,.07,.22,.87);
	cursor:default;
}

.text p::before{
	content:'\2605';
	width:35px;
	color:white;
	text-align:center;
	line-height:35px;
	border:solid white 5px;
	height:35px;
	background:#7fa1b0;
	margin-left:-60px;
	margin-top:-20px;
	font-size:20px;
	position:absolute;
	border-radius:100%;
}

.feature p::before{
	display:none;
}

.text p{
	padding:20px 30px 20px 30px;
	font-family:arvo;
	line-height: 1.5em;
	letter-spacing:0.05em;
	background:url('img/3/parchment.png');
	background-size:cover;
	margin:20px;
}

.list-head{
	display:block;
	font-weight: 600;
	margin-bottom:10px;
}

.list-item{
	margin:5px 0px 5px 30px;
	display:block;
}

.list-item::before{
	content:'\2765';
	text-align:center;
	margin-left:-30px;
	font-size:25px;
	position:absolute;
}

.source{
	font-weight:700;
}

.date{
	border-bottom:2px dashed #CBD5E1;
	width:100%;
	text-align:center;
	line-height:20px;
	display:flex;
	margin:0px 0px 50px 0px;
}

.date h3{
	border-top:2px solid #CBD5E1;
	border-left:2px solid #CBD5E1;;
	border-right:2px solid #CBD5E1;;
	border-radius:10px 10px 0px 0px;
	padding:10px 20px 10px 20px;
	line-height:20px;
	color:#64748B;
	margin:auto;
	background:#F1F5F9;
}


.feature{
	max-width:800px;
	width:90%;
	margin:50px 0px;
	padding:20px;
	display:flex;
	flex-wrap: wrap;
	color:black;
	background-position:center;
	transform:rotate(0deg) translateX(0px)!important;
	justify-content: center;
	font-size:22px;
	line-height: 1.5em;
}

.submissions{
	padding:20px 0px;
	width:100%;
	background:rgba(0,0,0,0.2);
	position:absolute;
	left:0;
	bottom:0;
	display:flex;
}

.submissions p{
	margin:auto;
	width:80%;
	max-width:1000px;
}

.submissions a{
	text-decoration: underline!important;
	font-weight:600;
}

.feature:hover{
	transform:scale(1.1)!important;
	background:rgba(160,160,160,0.1);
}

.feature img{
	transition:2s cubic-bezier(0,0,.38,1.1);
}

.feature:hover img{
	transition:2s cubic-bezier(0,1.2,.38,1.1);
	transform:scale(1.1);
}

.feature p{
	border-top:4px double black;
	border-bottom:4px double black;
	background:none;
	flex:60%;
	flex-basis:50%;
	margin:auto;
	padding:10px;
	text-align: center;
	max-width:600px;
}


.feature-image{
	width:100%;
	flex:40%;
	min-width:300px;
	margin:auto;
	max-width:500px;
}

.feature-image img{
	width:100%;
	margin:auto;
	box-sizing: border-box;
}

.table-container{
	width:100%;
	display:block;
}

table{
	text-align:left;
	font-size:14px;
	border-collapse: collapse;
	border-spacing: 1px;
	line-height: 1.7em;
	width:100%;
	font-family:arvo;
}

tr:not(:first-child):not(:last-child){
	border-bottom:1px dotted grey!important;
}
td{
	padding:20px 10px;
}
td:nth-child(1) {
	width: 20%;
}
td:nth-child(2) {
	width: 50%;
}
td:nth-child(3) {
	width: 30%;
}

td:nth-child(2){
	border-right:1px dotted grey;
	border-left:1px dotted grey;
}
th h5{
	font-size:15px;
	background:rgba(0,0,0,0.1);
	padding:12px 10px;
	font-weight:500;
}
th h5:first-child{
	margin-right:2px;
}
th h5:last-child{
	margin-left:2px;
}
th h5:not(:first-child):not(:last-child){
	margin-left:2px;
	margin-right:2px;
}



/*canvas frame/ filters*/


.frame-overlay-container{
	position:fixed;
	width:100%;
	height:100%;
	top:0px;	
	pointer-events: none;
	max-height:100%;
	z-index:-20;
}

.frame-overlay{
	height:100%;
	position:sticky;
	width:100%;
	max-height:100%;
	top:0;
	box-sizing:border-box;
	pointer-events: none;
	box-shadow: inset 0 0 200px rgba(0,0,0,0.5);
}

.background{
	background:white;
	z-index:-1;
}

.foreground{
	z-index:9999999!important;
	max-height:100%;
}


.title-container{
	height:100%;
	width:100vw;
	z-index:999999999999!important;
	position:absolute;
	display:flex;
	background-color:#003355;
	opacity:1;
	color:white;
}

.title-bg{
	height:inherit;
	width:inherit;
	background-size:40%;
	background-image:url('img/3/tile.png');
	display:flex;
	opacity:0.3;
	position:absolute;
}

.title-inner{
	padding-top:50px;
	padding-bottom:50px;
	text-align:center;
	max-width:800px;
	width:80%;
	margin:auto;
}

.title-inner h1{
	font-size:60px;
	font-family:arvo;
	margin-bottom:20px;
	color:white;
	font-kerning: auto;
}

.title-inner h2{
	font-size:30px;
	font-family:arvo;
	margin:0px;
	letter-spacing: 0.2em;
	opacity:0.8;
}

.title-inner h3{
	font-weight:100;
	font-size:30px;
	margin-top:30px;
	margin-bottom:30px;
	line-height:1.2em;
	opacity:0.5;
}

.title-inner h4{
	font-size:40px;
	font-weight:100;
	margin:0px;
	padding:0px;
	line-height:0px;
	margin-bottom:30px;
	opacity:0.7;
	transition:0.3s ease-in-out;
}

.title-inner a{
	text-decoration:none;
	color:white;
}

.title-inner h4:hover{
	transform:scale(1.8) translateY(-5px);
	transition:0.3s ease-in-out;
	opacity:1;
	cursor:pointer;
}

.title-inner a:hover{
	cursor:pointer;
}

@media screen and (max-width: 600px){
  .spacer h1{
	font-size:45px;
	background-size:auto 150px;
}

.fixed-bottom{
	background-size:auto 150px;
}
.spacer{
	background-attachment: scroll;
	background-size:80%;
}

.title-inner h3{
 font-size:20px;
}

.title-inner h2{
	font-size:25px;
}


.title-inner h1{
	font-size:50px;

}

.text {
	font-size:14px;
}
.feature{
	font-size:16px;
	margin:0px;
}



.date{
	margin:0px 0px 20px 0px;
}
}
